# 忽略所有的文件
**

# 白名单 路径前面加感叹号
!.gitignore
!config/
!config/**
!defaultconfigs/
!defaultconfigs/**
!mods/
!mods/**
!schematics/
!schematics/**
schematics/uploaded
!README.md

## KubeJS
!kubejs/
!kubejs/**
kubejs/README.txt
kubejs/exported
kubejs/probe
kubejs/config/probejs.json

## 奇怪的东西 每次开游戏/进世界都会被更新 忽略掉
config/defaultworldtype/world-presets.txt
config/jei/world
config/skyblockbuilder/data
config/embeddium-fingerprint.json
config/fml/toml
config/jei